
@{
    ViewBag.Title = "Project Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

<table style="width: 75%;">
        <tr>
            <td>@Html.Label("Project Name:")</td>
            <td>@ViewBag.SelectedProject.Name</td>
            <td>@Html.Label("Client:")</td>
            <td>@ViewBag.SelectedProject.Client.ClientName</td>
        </tr>
        <tr>
            <td>@Html.Label("Description:")</td>
            <td colspan="3">@ViewBag.SelectedProject.Description</td>
        </tr>
        <tr>
            <td>@Html.Label("Sogeti Practitioner:")</td>
            <td>@ViewBag.SelectedProject.SogetiPractitioner.FirstName @ViewBag.SelectedProject.SogetiPractitioner.LastName</td>
            <td>@Html.Label("Account Manager:")</td>
            <td>@ViewBag.SelectedProject.AccountManager.FirstName @ViewBag.SelectedProject.AccountManager.LastName</td>
        </tr>
        <tr>
            <td>@Html.Label("Delivery Manager:")</td>
            <td>@ViewBag.SelectedProject.DeliveryManager.FirstName @ViewBag.SelectedProject.DeliveryManager.LastName</td>
            <td>@Html.Label("Administrator:")</td>
            <td>@ViewBag.SelectedProject.Administrator.FirstName @ViewBag.SelectedProject.Administrator.LastName</td>
        </tr>
        <tr>
            <td>@Html.Label("Start Date:")</td>
            <td>@ViewBag.SelectedProject.StartDate.ToString("dd/MM/yyyy")</td>
            <td>@Html.Label("End Date:")</td>
            @if (ViewBag.SelectedProject.EndDate != DateTime.MinValue)
            {
                <td>@ViewBag.SelectedProject.EndDate.ToString("dd/MM/yyyy")</td>
            }
        </tr>
        <tr>
            <td>@Html.Label("Revised Date:")</td>
            @if (ViewBag.SelectedProject.RevisedDate != DateTime.MinValue)
            {
                <td>@ViewBag.SelectedProject.RevisedDate.ToString("dd/MM/yyyy")</td>
            }
            <td></td>
            <td></td>
        </tr>

    </table>

<div>
    <table>
        <tbody>
            <tr>
    @for (int i = 0; i < ViewBag.SelectedProject.ProjectStatus[0].Category.Count; i++)
    {
        
        <td>
        <table class="whitebg">
            @*<caption>@ViewBag.SelectedProject.ProjectStatus[0].Category[i].Title</caption>*@
            <thead class="customh">
                <tr>
                    @for (int j = 0; j < ViewBag.SelectedProject.ProjectStatus[0].Category[i].Title.Count; j++) {
                    <td>@ViewBag.SelectedProject.ProjectStatus[0].Category[i].Title[j].Title</td>
                    }
                </tr>
            </thead>
            <tbody>
                <tr>
                    @for (int j = 0; j < ViewBag.SelectedProject.ProjectStatus[0].Category[i].Title.Count; j++) {
                    <td class="greenbg">Normal</td>
                    }
                </tr>
                <tr>
                    @for (int j = 0; j < ViewBag.SelectedProject.ProjectStatus[0].Category[i].Title.Count; j++) {
                    <td>Comment</td>
                    }
                </tr>
                <tr>
                    @for (int j = 0; j < ViewBag.SelectedProject.ProjectStatus[0].Category[i].Title.Count; j++) {
                    <td class="yellowbg">Brief Description Here...</td>
                    }
                </tr>
            </tbody>
        </table>
        </td>
        
    }
            </tr>
        </tbody>
    </table>
        
        
        
        
         

</div>
