
@{
    ViewBag.Title = "Project Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

<table style="width: 75%;">
        <tr>
            <td>@Html.Label("Project Name:")</td>
            <td>@ViewBag.SelectedProject.name</td>
            <td>@Html.Label("Client:")</td>
            <td>@ViewBag.SelectedProject.client.clientName</td>
        </tr>
        <tr>
            <td>@Html.Label("Description:")</td>
            <td colspan="3">@ViewBag.SelectedProject.description</td>
        </tr>
        <tr>
            <td>@Html.Label("Sogeti Practitioner:")</td>
            <td>@ViewBag.SelectedProject.sogetiPractitioner.firstName @ViewBag.SelectedProject.sogetiPractitioner.lastName</td>
            <td>@Html.Label("Account Manager:")</td>
            <td>@ViewBag.SelectedProject.accountManager.firstName @ViewBag.SelectedProject.accountManager.lastName</td>
        </tr>
        <tr>
            <td>@Html.Label("Delivery Manager:")</td>
            <td>@ViewBag.SelectedProject.deliveryManager.firstName @ViewBag.SelectedProject.deliveryManager.lastName</td>
            <td>@Html.Label("Administrator:")</td>
            <td>@ViewBag.SelectedProject.administrator.firstName @ViewBag.SelectedProject.administrator.lastName</td>
        </tr>
        <tr>
            <td>@Html.Label("Start Date:")</td>
            <td>@ViewBag.SelectedProject.startDate.ToString("dd/MM/yyyy")</td>
            <td>@Html.Label("End Date:")</td>
            @if (ViewBag.SelectedProject.endDate != DateTime.MinValue)
            {
                <td>@ViewBag.SelectedProject.endDate.ToString("dd/MM/yyyy")</td>
            }
        </tr>
        <tr>
            <td>@Html.Label("Revised Date:")</td>
            @if (ViewBag.SelectedProject.revisedDate != DateTime.MinValue)
            {
                <td>@ViewBag.SelectedProject.revisedDate.ToString("dd/MM/yyyy")</td>
            }
            <td></td>
            <td></td>
        </tr>

    </table>

<div>
    <table>
        <tbody>
            <tr>
    @for (int i = 0; i < ViewBag.SelectedProject.projectStatus[0].category.Count; i++)
    {
        
        <td>
        <table class="whitebg">
            <caption>@ViewBag.SelectedProject.projectStatus[0].category[i].description</caption>
            <thead class="customh">
                <tr>
                    @for (int j = 0; j < ViewBag.SelectedProject.projectStatus[0].category[i].title.Count; j++) {
                    <td>@ViewBag.SelectedProject.projectStatus[0].category[i].title[j].description</td>
                    }
                </tr>
            </thead>
            <tbody>
                <tr>
                    @for (int j = 0; j < ViewBag.SelectedProject.projectStatus[0].category[i].title.Count; j++) {
                    <td class="greenbg">Normal</td>
                    }
                </tr>
                <tr>
                    @for (int j = 0; j < ViewBag.SelectedProject.projectStatus[0].category[i].title.Count; j++) {
                    <td>Comment</td>
                    }
                </tr>
                <tr>
                    @for (int j = 0; j < ViewBag.SelectedProject.projectStatus[0].category[i].title.Count; j++) {
                    <td class="yellowbg">Brief Description Here...</td>
                    }
                </tr>
            </tbody>
        </table>
        </td>
        
    }
            </tr>
        </tbody>
    </table>
        
        
        
        
         

</div>
